.about {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 50px 100px;

  @media (max-width: $vp-1024) {
    padding-bottom: 76px;
  }

  @media (max-width: $vp-768) {
    padding: 0 25px;
    padding-bottom: 80px;
  }
}

.about__img {
  display: block;

  @media (max-width: $vp-1024) {
    margin-right: 90px;
  }

  @media (max-width: $vp-768) {
    display: none;
  }
}

.about__wrapper {
  margin-left: 100px;
  max-width: 970px;
  width: 100%;

  @media (max-width: $vp-1024) {
    margin: 0;
    width: 100%;
  }

  @media (max-width: $vp-768) {
    width: 100%;
    margin: 0;
  }
}

.about__title {
  @include fonts(36px, 51px);
  margin: 5px 0 10px;

  @media (max-width: $vp-1024) {
    margin: -2px 0 10px;
  }

  @media (max-width: $vp-768) {
    font-size: 28px;
    margin-bottom: 3px;
  }
}

.about__text {
  margin: 0;
  margin-bottom: 20px;

  @media (max-width: $vp-1024) {
    margin-bottom: 14px;
  }

  @media (max-width: $vp-768) {
    margin: 0;
    font-size: 14px;
    line-height: 19px;
  }
}

.about__text--margin {
  @media (max-width: $vp-768) {
    margin-bottom: 20px;
  }
}

.about__text--hidden {
  display: none;
}

.about__button {
  @include fonts(14px, 16px);
  font-weight: 700;
  margin-top: 20px;
  background: transparent;
  color: #00b2ff;
  border: 1px solid #00b2ff;
  border-radius: 3px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  width: 180px;
  padding: 14px 0;
  cursor: pointer;

  &:hover {
    background: #041427;
    color: #ffffff;
  }

  &:active {
    opacity: 0.8;
  }

  @media (max-width: $vp-1024) {
    margin-top: 10px;
  }

  @media (max-width: $vp-768) {
    width: 160px;
    padding: 9px 0;
    margin-top: 14px;
  }
}
